/* Get rid of bottom border line  */
.ant-collapse-item {
  border-bottom: 0 !important;
}

/* Line up checkboxes */
.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin: 0 !important;
}

/* Move "Filters" and arrow to be lined up */
.ant-collapse-content > .ant-collapse-content-box {
  padding: 0 !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  left: 0 !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding-left: 20px !important;
}
