.ant-input-search-icon::before {
  border-left: none !important;
}

@media screen and (max-width: 480px) {
  .ant-input {
    font-size: 0.7em !important;
  }
  .ant-select {
    font-size: 0.8em !important;
  }
}

@media screen and (min-width: 1024px) {
  .ant-input-search {
    width: 650px;
  }
}
